<app-loading *ngIf="loading">
</app-loading>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]=" artista.images | noimage" alt="" class="img-thumbmail img-circle">
    </div>
    <div class="col">
        <h3> {{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
              Ir a la página del artista.
            </a>
        </p>
    </div>
    <div class="col-4 text-rigth">
        <button routerLink="/search" class="btn btn-outline-danger">
        Regresar
      </button>
    </div>

</div>

<div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let canciones of topTraks">
                    <td>
                        <img [src]="canciones.album.images | noimage" alt="" class="img-thumb">
                    </td>
                    <td>{{canciones.album.name}}</td>
                    <td>{{canciones.name}}</td>
                    <td>
                        <iframe [src]="canciones.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        <!--<audio [src]="canciones.preview_url" controls></audio> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>