<<<<<<< HEAD
<ion-header>
    <ion-navbar>
        <ion-title>{{ lista.titulo }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header>
        Tareas por hacer
    </ion-list-header>

    <ion-list>
        <ion-item>
            <ion-label floating>Nuevo Item</ion-label>
            <ion-input [(ngModel)]="nombreItem" type="text" (keyup.enter)="agregarItem()">
            </ion-input>
        </ion-item>
    </ion-list>

    <ion-list>

        <button ion-item detail-none>
            <ion-icon name="square-outline" item-start></ion-icon>
        
        </button>
    </ion-list>


=======
<ion-header>
    <ion-navbar>
        <ion-title>{{ lista.titulo }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header>
        Agregar Item
    </ion-list-header>

    <ion-list>
        <ion-item>
            <ion-label floating>Nuevo Item</ion-label>
            <ion-input [(ngModel)]="nombreItem" type="text" (keyup.enter)="agregarItem()">
            </ion-input>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="lista.items.length >0">

        <ion-list-header>
            Tareas por realizar
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of lista.items; let i=index" class="animated fadeInDown">
            <ion-item-options side="right">
                <button (click)="borrar(i)" ion-button icon-only color="danger">
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-item-options>
            <button ion-item detail-none (click)="actualizarTarea(item)">
                <ion-icon *ngIf="item.completado" name="checkbox-outline" item-start></ion-icon>
                <ion-icon *ngIf="!item.completado"  name="square-outline" item-start></ion-icon>
                {{item.desc}}
            </button>

        </ion-item-sliding>
    </ion-list>


>>>>>>> 02195e645a3bf51d6978f2f0dc2a7a31a49111b7
</ion-content>