<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'">
        <div class="alert alert-success" role="alert">
            A simple success alert—check it out!
        </div>
    </div>
    <div *ngSwitchCase="'info'">
        <div class="alert alert-info" role="alert">
            A simple info alert—check it out!
        </div>
    </div>
    <div *ngSwitchCase="'warning'">
        <div class="alert alert-warning" role="alert">
            A simple warning alert—check it out!
        </div>
    </div>
    <div *ngSwitchDefault>
        <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
        </div>
    </div>
</div>


<!-- <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="alert alert-light" role="alert">
    A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
</div> -->