<h1 class="animated fadeIn fast">{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>

<div class="row animated fadeIn">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" alt="">
        <br>
        <br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>


            <img class="img-logo" src="assets/img/marvel.png" alt="" *ngIf="heroe.casa == 'Marvel' ">
            <img class="img-logo" src="assets/img/dc.png" alt="" *ngIf="heroe.casa == 'DC' ">
        </div>
    </div>
</div>