<h3> Héroe <small> {{heroe.nombre}}</small></h3>
<button [routerLink]="['/heroes']" class="btn btn-outline-danger">
  Regresar
</button>
<button (click)="agregarNuevo(forma)" type="button" class="btn btn-outline-primary">
    Nuevo Héroe
  </button>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-12">

        <form (ngSubmit)="guardar()" #forma="ngForm">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" [(ngModel)]="heroe.nombre" name="nombre" class="form-control" placeholder="nombre del héroe" required>
            </div>
            <div class="form-group">
                <label>Casa</label>
                <select class="form-control" [(ngModel)]="heroe.casa" name="casa">
                  <option value="Marvel">Marvel</option>
                  <option value="DC">DC</option>
                </select>
            </div>
            <div class="form-group">
                <label>Bio</label>
                <textarea type="text" [(ngModel)]="heroe.bio" name="bio" class="form-control">
                </textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
                Guardar
              </button>
            </div>
        </form>
    </div>
</div>