<h1> Héroes</h1>

<hr>

<div class="row">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/heroe','nuevo']" class="btn btn-outline-primary" type="button" name="button"> 
    Nuevo
    </button>
    </div>
</div>

<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Casa</th>
                        <th scope="col" class="text-right w120">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i  = index">
                        <td> {{i}}</td>
                        <td>{{heroes[k].nombre}}</td>
                        <td>{{heroes[k].casa}}</td>
                        <td class="text-right">
                            <button [routerLink]="['/heroe',k]" type="button" class="btn btn-outline-success">Editar</button>
                            <button (click)="borrarHeroe(k)" type="button" class="btn btn-outline-danger">Eliminar</button>
                        </td>
                        <tr>
                </tbody>
            </table>
            <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay</strong> registros que mostrar.
            </div>
        </div>
    </div>
</div>