<div class="main-container">
    <h1>Pipes</h1>
    <br>
    <table class="table">
        <caption>Ejemplos Pipe</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ nombre }}</td>
                <td> uppercase </td>
                <td> {{ nombre | uppercase}}</td>
            </tr>

            <tr>
                <td>{{ nombre }}</td>
                <td> lowercase </td>
                <td> {{ nombre | lowercase }}</td>
            </tr>

            <tr>
                <td>{{ nombre }}</td>
                <td> slice:3 </td>
                <td> {{ nombre | slice:3 }}</td>
            </tr>

            <tr>
                <td>{{ nombre }}</td>
                <td> slice:0:3 </td>
                <td> {{ nombre | slice:0:3 }}</td>
            </tr>

            <tr>
                <td>{{ arreglo }}</td>
                <td> slice:1:5 </td>
                <td> {{ arreglo | slice:1:5 }}</td>
            </tr>
            <tr>
                <td>{{ PI }}</td>
                <td> number:'3.0-0' </td>
                <td> {{ PI | number:'3.0-0' }}</td>
            </tr>
            <tr>
                <td>{{ PI }}</td>
                <td> numer </td>
                <td> {{ PI | number:'3.0-0' }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td> number:'.2-2' </td>
                <td> {{ salario | number:'.2-2' }}</td>
            </tr>
            <tr>
                <td>{{ a }}</td>
                <td> percent </td>
                <td> {{ a | percent:'2.2-2' }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td> currency </td>
                <td> {{ salario | currency }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td> currency:'EUR':false </td>
                <td> {{ salario | currency:'EUR':false }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td> currency:'EUR':false </td>
                <td> {{ salario | currency:'EUR':false }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td> currency:'EUR':true:'4.0-0' </td>
                <td> {{ salario | currency:'EUR':true:'4.0-0' }}</td>
            </tr>
            <tr>
                <td>{{ valorDePromesa }}</td>
                <td> async </td>
                <td> {{ valorDePromesa | async }}</td>
            </tr>
            <tr>
                <td>{{ fecha }}</td>
                <td> date </td>
                <td> {{ fecha | date }}</td>
            </tr>
            <tr>
                <td>{{ fecha }}</td>
                <td> date:'medium' </td>
                <td> {{ fecha | date:'medium' }}</td>
            </tr>
            <tr>
                <td>{{ fecha }}</td>
                <td> date:'MMMM - dd' </td>
                <td> {{ fecha | date:'MMMM - dd' }}</td>
            </tr>
            <tr>
                <td>{{ nombre2 }}</td>
                <td> capitalizado </td>
                <td> {{ nombre2 | capitalizado}}</td>
            </tr>
            <tr>
                <td>{{ nombre2 }}</td>
                <td> capitalizado </td>
                <td> {{ nombre2 | capitalizado:false }}</td>
            </tr>
            <tr>
                <td>{{ nombre2 }}</td>
                <td> ocultar:activar </td>
                <td> {{ nombre2 | ocultar:activar }}</td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    <button (click)="activar = !activar" type="button" class="btn btn-outline-primary btn-block"> 
                        Ocultar
                      </button>
                </td>
                <td> </td>
            </tr>
        </tbody>
    </table>

    <div>
        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arreglo | slice:5:20">{{ item }}</li>
        </ul>
    </div>
    <div>
        <h4>JSOn</h4>
        <pre>
          {{ heroe | json}}
        </pre>
    </div>
</div>

<h4>youtube</h4>

<div>
    <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/' " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- https://www.youtube.com/embed{{video}}-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>