<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['precios']">Precios</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated()">
                <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
            </li>
        </ul>
        <span class="navbar-text">
            <button
            class="btn btn-primary btn-margin btn-sm"
            *ngIf="!auth.isAuthenticated()"
            (click)="login()">
              Log In
          </button>
    
          <button
            class="btn btn-primary btn-margin btn-sm"
            *ngIf="auth.isAuthenticated()"
            (click)="salir()">
              Log Out
          </button>
      </span>
    </div>
</nav>