<<<<<<< HEAD
<ion-header>
</ion-header>

<ion-content>
    <img src="../../assets/imgs/completados.jpg">
    <ion-list>
        <button ion-item *ngFor="let lista of deseosService.listas" (click)="listaSeleccionada(lista)">
                  {{ lista.titulo }}
                </button>
    </ion-list>
=======
<ion-header>
</ion-header>

<ion-content>
    <img src="../../assets/imgs/completados.jpg">
    <ion-list>

        <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:true">
            <button ion-item (click)="listaSeleccionada(lista)">
                      {{ lista.titulo }}
                    </button>
            <ion-item-options side="left">
                <button (click)="borrarLista(lista)" ion-button icon-only color="danger">
                            <ion-icon name="trash-outline"></ion-icon>
                        </button>
            </ion-item-options>


        </ion-item-sliding>
    </ion-list>
>>>>>>> 02195e645a3bf51d6978f2f0dc2a7a31a49111b7
</ion-content>