<app-loading *ngIf="loading">
</app-loading>

<div *ngIf="error" class="alert alert-danger">
    <h3>
        Error
    </h3>
    <h5> {{mensajeError}} </h5>
</div>
<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>