<app-navbar></app-navbar>


<div class="main-container">
    <router-outlet></router-outlet>
</div>


<!--
  <app-home></app-home>

#TODO HACER ANDAR ESTA PORQUERÍA 
  ssh://git@190.2.6.5:52020/MakerSpace_ALL/Bot_CheckInAsistido.git
-->