<h1 class=" animated fadeIn fast"> Sobre Comic Wiki</h1>
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nihil quam aliquid aliquam eius a ea autem hic et unde consequatur mollitia ipsum, dicta quos praesentium dolorum odit. Ratione, ex.
</p>