<h4>Formularios
    <small>template</small>
</h4>
<hr>

<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate >

    <div>
        <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength)  && nombre.touched}">
            <label class="col-2 col-form-label ">Nombre</label>
            <div class="col-8 ">
                <input  
                class="form-control" 
                type="text" 
                placeholder="Nombre" 
                name="nombre" 
                [(ngModel)]="usuario.nombre" 
                required  
                minlength="3"
                #nombre="ngModel">
            </div>
            <div *ngIf="nombre.errors?.required"> 
            <small>Este campo es requerido. </small>
            </div>
            
            <div *ngIf="nombre.errors?.minlength"> 
            <small>Por lo menos {{nombre.errors.minlength.requiredLength}} caracteres.</small>
            </div>

        </div>
<!-- ------------------------------------------------------------------------------------------ -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input 
                class="form-control" 
                type="text" 
                placeholder="Apellido" 
                name="apellido" 
                [(ngModel)]="usuario.apellido" 
                required
                #apellido="ngModel"
                >
            </div>
            <div *ngIf="apellido.errors?.required"> 
            <small>Este campo es requerido.</small>
            </div>
        </div>

    </div>
<!-- ------------------------------------------------------------------------------------------ -->
    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input 
            class="form-control" 
            type="email" 
            placeholder="Correo electrónico" 
            name="email" 
            [(ngModel)]="usuario.email"  
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            #email="ngModel"
            >
        </div>
        <div *ngIf="email.errors?.required"> 
        <small>Este campo es requerido.</small>
        </div>
        <div *ngIf="email.errors?.pattern"> 
            <small>ingrese un email válido</small>
        </div>
    </div>
<!-- ------------------------------------------------------------------------------------------ -->
    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-md-8">
        <select [(ngModel)]="usuario.pais"  
            class="form-control" name="pais"> 
            <option value="" >Seleccione un pais</option>  
            <option *ngFor="let pais of paises" [value]="pais.codigo"> {{pais.nombre}} </option>
        </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">

            <label *ngFor="let s of sexos" class="custom-radio custom-control">
                <input [(ngModel)] ="usuario.sexo"
                name="sexo" 
                [value]="s"
                type="radio" 
                class="custom-control-input">
                <span class="custom-control-indicador"></span>
                <span class="custom-control-description">{{s}}</span>
            </label>

        </div>
    </div>
<!-- ------------------------------------------------------------------------------------------ -->
    <div class="form-group row">
        <label class="col-2 col-form-label">Acepta</label>
        <div class="col-md-8">
            <div [(ngModel)]="usuario.acepta"
            class="custom-control custom-checkbox">
                <span type="checkbox" class="custom-control-input" id="customCheck1"> </span>
                <span class="custom-control-label" for="customCheck1">Check this custom checkbox</span>
            </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------ -->


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button [disabled]="!forma.valid"
            type="submit" 
            class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

</form>



<!-- disabled -->