<div [ngClass]="alerta" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'"> Info</button>
<button type="button" class="btn btn-danger" (click)="alerta = 'alert-danger'">Danger</button>
<br><br><br>


<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info':!propiedades.danger}">
    Hola
</h3>

<button (click)="propiedades.danger = !propiedades.danger" type="button" name="button" class="btn" [ngClass]="{'btn-danger':propiedades.danger, 'btn-info':!propiedades.danger}">
  Cambiar
</button>

<br><br><br>

<h3>
    Procceso Asíncrono
</h3>

<button type="button" name="button" class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
  <i class="fa" [ngClass]="{'fa-save': !loading,'fa-sync fa-spin': loading}"></i>
  <span *ngIf="!loading"> Guardara cambios</span> 
  <span *ngIf="loading"> Aguarde por favor</span> 
</button>