<ion-tabs color="primary">
    <ion-tab [root]="tab1Root" tabTitle="Pendientes" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Completados" tabIcon="list"></ion-tab>
</ion-tabs>