<<<<<<< HEAD
<ion-header>
</ion-header>

<ion-content>
    <img src="../../assets/imgs/pendientes.jpg">
    <ion-list>
        <button ion-item *ngFor="let lista of deseosService.listas" (click)="listaSeleccionada(lista)">
              {{ lista.titulo }}
            </button>
    </ion-list>

    <ion-fab bottom right>
        <button (click)="agregarLista()" ion-fab>
            <ion-icon name="add"></ion-icon>
        </button>
        <!--
        <ion-fab-list>
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list> 
        -->
    </ion-fab>
=======
<ion-header>
</ion-header>

<ion-content>
    <img src="../../assets/imgs/pendientes.jpg">
    <ion-list>
        <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:false">

            <button ion-item (click)="listaSeleccionada(lista)">
                {{ lista.titulo }}
                <ion-note item-end>
                    {{lista.items.length}} Items
                </ion-note>
            </button>

            <ion-item-options side="left">
                <button (click)="borrarLista(lista)" ion-button icon-only color="danger">
                    <ion-icon name="trash-outline"></ion-icon>
                </button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>

    <ion-fab bottom right>
        <button (click)="agregarLista()" ion-fab>
            <ion-icon name="add"></ion-icon>
        </button>
        <!--
        <ion-fab-list>
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list> 
        -->
    </ion-fab>
>>>>>>> 02195e645a3bf51d6978f2f0dc2a7a31a49111b7
</ion-content>